
.window-manager {
  display: flex;
  position: relative;

  // fill available space both horizontally and vertically
  align-self: stretch;
  flex-grow: 1;
}

.window-container {
  position: absolute;
  inset: 0;

  pointer-events: none;

  &.window-container-minimized {
    user-select: none;
    opacity: 0;
  }

  &:not(.window-container-minimized) > * {
    pointer-events: auto;
  }
}
